.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron form{
    display: inline-block;
    width: 60%;
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    
}

.card {
    position: relative;
}

.card .buyButton {
    z-index: 1;
    border-color: green;
}

.addContainer h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.submitButton {
    display: block;
    margin: auto auto 1em;
}

.imageColumn {
    display: flex;
    align-items: center;
    max-width: 400px;
}

.card-img-top {
    height: 250px;
}

.card {
    width: 300px;
}

.quantityText {
    font-size: 12px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.detailsInfoCol {
    padding-right: 10px;
    align-items: center;
    text-align: right;
    margin-bottom: 20px;
}

.productNameText {
    border-bottom: solid;
    padding-bottom: 5px;
    border-width: 1px;
    border-color: #28a745;
}

.imageRow {
    height: 400px;
    width: 700px;
    overflow: hidden;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.imageRow img {
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 700px;
    position: relative;
}

.descriptionLabel {
    font-weight: bold;
}

.success-icon {
    color: #28a745;
    margin-left: 5px;
}

.modal-title {
    font-weight: bold;
}

.imageTableColumn {
    max-height: 100px;
    display:inline-block;
    padding: 0 !important;
}

td img {
    height: 100px!important;
    width: 100px!important;
}

.table td {
    text-align: center !important;
    vertical-align: middle !important;
    font-weight: bold;
}

.table {
    border-collapse:separate;
    border-spacing:1em;
}

.addNewButtonColumn {
    text-align: right;
    margin: 5px;
}
